# ORBIT Omnichannel PostgreSQL Database Credentials Example
DB_HOST=148.251.171.147
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=admin
DB_NAME=omnichannel

# Full PostgreSQL Connection URI
DATABASE_URL=postgresql://postgres:admin@148.251.171.147:5432/omnichannel

# API Server Port
PORT=5000
